@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.7;
    }
}


.pulse {
    animation: pulse 1s ease-in-out infinite;
}


.result-modal {
    border: none;
    border-radius: 8px;
    padding: 2rem;
    background-color: #d7fcf8;
}

.result-modal[open] {
    animation: slide-in-from-top 0.35s ease-out;
}

.result-modal::backdrop {
    background: rgba(0, 0, 0, 0.9);
}

